:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  background-color: #d7d0cab9;
  background: linear-gradient(to bottom, #00205B, #ffffff) 0 0 / 100% 100vh no-repeat;
}

label {
  display: block;
}

.form {
  width: 400px;
  margin: 0 auto;
}

input[type="text"],
[type="password"] {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 10px 0;
}

input[type="button"],
button {
  background-color: rgb(39, 131, 212);
  padding: 10px;
  border: 0;
  min-width: 100px;
  border-radius: 5px;
  color: white;
}

nav {
  background-color: #eee;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

a {
  color: rgb(97, 28, 161);
  text-decoration: none;
}

.dashboard {
  width: 500px;
  margin: auto;
}

.errorMessage {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
}
.encabezado {
  background-color: #00205B; 
  padding: 0.5px;
  color: white;
  text-align: center;
}

.Contenido {
  background-color: #D9D9D9;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}


/*main {
  width: 100%;
  max-width: 800px; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff; 
}*/
